{% extends "layouts/base.njk" %}

{% block content %}
  <section class="inner-page">
    <h1>{{ title }}</h1>
    <div class="page-body">
      {{ content | safe }}
    </div>
  </section>
{% endblock %}
