---
layout: layouts/inner.njk
title: About
lang: fr
langLinks:
  en: /en/about/
  fr: /fr/about/
---

<section class="inner-content">
  <h2>À propos de nous</h2>
<p>
  Nous sommes une agence de conseil en données bilingue, fournissant des services de données précis, structurés et évolutifs pour l’apprentissage automatique, la recherche et l’analyse d’entreprise. Nos consultants sont des professionnels spécialisés, certifiés dans leur domaine d’expertise par des diplômes avancés et des certifications reconnues à l’échelle internationale. Tous nos consultants sont bilingues ou multilingues (principalement en anglais et en français, mais également en espagnol et en allemand si nécessaire). Nous comprenons vos données.
</p>

<h2>Notre savoir-faire</h2>
<ul>
  <li>Annotation de données et assurance qualité</li>
  <li>Création et curation de jeux de données multilingues</li>
  <li>Conseil en infrastructures de données</li>
  <li>Flux de données avec intervention humaine</li>
  <li>Solutions analytiques sur mesure</li>
</ul>
<p>Notre expertise technique couvre chaque étape de la chaîne de données, du stockage aux visualisations finales :</p>
<ul>
  <li>Bases de données SQL (MySQL/PostgreSQL/SQuirreL)</li>
  <li>Codage des données : Python et R</li>
  <li>Configurations ETL : Azure Data Factory, Apache, Oracle, Hadoop, Microsoft SQL Server</li>
  <li>Ingénierie de solutions (solutions spécialisées sur Azure Cloud)</li>
  <li>Visualisation de données : Power BI et Tableau</li>
</ul>


</section>
