---
title: En francais
layout: layouts/base.njk
lang: fr
permalink: /fr/
langLinks:
  en: /en/
  fr: /fr/
---

<section class="hero">
  <div class="hero-content">
    <h1>FR WaHOO<br>Bien fait</h1>
    <p>
      L'intelligence artificielle balbalbal
    </p>
  </div>
</section>

<!-- <section class="job-search">
  <form class="search-form">
    <input type="text" placeholder="Job Title or Keyword" />
    <input type="text" placeholder="City, State, or Zip Code" />
    <button type="submit">Search Jobs</button>
  </form>
</section> -->
