---
title: En francais
layout: layouts/base.njk
lang: fr
permalink: /fr/
langLinks:
  en: /en/
  fr: /fr/
---

<section class="hero">
  <div class="hero-content">
    <h1>L'Analyse des données<br>Faite dans les règles de l’art.</h1>
    <p>
      L’intelligence artificielle n’est aussi solide que les données qui la sous-tendent. À mesure que l’IA progresse, le besoin de jeux de données vastes, précis et structurés s’intensifie.<br>
      Déployer tout son potentiel commence par la correction et l’affinage des immenses volumes de données brutes qui façonneront les systèmes de demain.

    </p>
  </div>
</section>

<!-- <section class="job-search">
  <form class="search-form">
    <input type="text" placeholder="Job Title or Keyword" />
    <input type="text" placeholder="City, State, or Zip Code" />
    <button type="submit">Search Jobs</button>
  </form>
</section> -->
