---
layout: layouts/inner.njk
title: Where We Are
lang: fr
langLinks:
  en: /en/location/
  fr: /fr/location/
---

<section class="inner-content">
  <h2>Notre Localisation</h2>
<p>
  Nous intervenons sur site et à distance, avec des bureaux de coordination principaux situés à Toronto, Ontario (Canada).
</p>

<h2>Notre Étendue</h2>
<p>
  Nous servons des clients à l’échelle mondiale, avec une expertise linguistique sur les marchés anglophones et francophones, ainsi qu’un soutien opérationnel en Amérique du Nord et en Europe. Nous nous adaptons aux fuseaux horaires de nos clients (Paris, Liège, Vancouver, Toronto, Dublin, etc.).
</p>
</section>
