---
layout: layouts/inner.njk
title: Where We Are
lang: fr
langLinks:
  en: /en/location/
  fr: /fr/location/
---

<section class="inner-content">
  <h2>Our Location</h2>
  <p>
    Nous travaillons à distance, avec des bureaux de coordination situés principalement à Montréal, Québec (Canada).
  </p>

  <h2>Marche international</h2>
  <p>
    Nous desservons des clients à l’échelle mondiale, avec une expertise linguistique en anglais et en français, et un soutien opérationnel en Amérique du Nord et en Europe.
  </p>
</section>
