---
title: Clear Data Consultants
layout: layouts/base.njk
lang: en
permalink: /en/
langLinks:
  en: /en/
  fr: /fr/
---

<section class="hero">
  <div class="hero-content">
    <h1>Data Analytics<br>Done Right.</h1>
    <p>
      Artificial intelligence is only as strong as the data behind it. As AI evolves, so does the need for vast, accurate, and structured datasets. <br>
      Unlocking its full potential begins with correcting and refining the massive volumes of raw data shaping tomorrow’s systems.
    </p>
  </div>
</section>

<!-- <section class="job-search">
  <form class="search-form">
    <input type="text" placeholder="Job Title or Keyword" />
    <input type="text" placeholder="City, State, or Zip Code" />
    <button type="submit">Search Jobs</button>
  </form>
</section> -->

<style>
  p {
    text-align: justify;
  }
</style>
